<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613886118028-vftvomoij7vmh3296r84rm9ehtmve434.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613886118028-vftvomoij7vmh3296r84rm9ehtmve434</string>
	<key>API_KEY</key>
	<string>AIzaSyD87h8J-HcFGJn0vGU017uxE-vtuiuiqv4</string>
	<key>GCM_SENDER_ID</key>
	<string>613886118028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BlueIOSNew</string>
	<key>PROJECT_ID</key>
	<string>teste-eb283</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-eb283.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613886118028:ios:0d577cac792d63714dd3a9</string>
</dict>
</plist>